<div class="max-width-500 mx-auto"> 
	<div class="clearfix">

		<button mat-raised-button class="contact-btn"> 
			<!-- <i class="material-icons icon-involep">mail_outline</i> -->
			Infos
		</button>	
			
	</div>  
	<div class="logo" >
		<img src="../../assets/image/c_logo.png" class="logo-img"/>
		<div class="logo-text">
			<p>Simple Text</p>
			<p>Hello</p>
		</div>	
	</div> 

	<div class="container">
		<div class="row" >
			<div class="col-12">
				<button mat-raised-button class="contact-btn btn-lg d-b w-100 mx-auto mb-3">How it works</button>
			</div>
			<div class="col-6 padding-right">
				<button mat-raised-button class="contact-btn d-b w-100 mx-auto my-auto" [routerLink]="'/app/register'" >Register</button>
			</div>
			<div class="col-6">
				<button mat-raised-button class="contact-btn d-b w-100 mx-auto my-auto"
				[routerLink]="'/app/login'" >Log in</button>
			</div>
		</div>	
	</div>
	<a href="https://www.cspot.app/disclaimers" class="disclaimer-text">Disclaimer</a>
	
</div>