.d-b {
    display: block;
}
.w-100 {
    width: 100%;
}
.mx-auto {
    margin: {
        left: auto;
        right: auto;       
    }
}
.my-auto {
    margin: {
        top: auto;
        bottom: auto;       
    }
}
.max-width-500{
    max-width: 500px;
}
