<div class="container"> 
	<div class="max-width-500 mx-auto overflow-y">
		<div class="pad-top">
			<i class="material-icons" [routerLink]="'/app/email-reset'" >arrow_back</i>	
		</div> 
		<div class="head">
			<h3>Reset password</h3>
		</div>
		<div class="row mx-0" >
			<div class="col-12">
				<label>New Password</label>
				<div class="form-group">
					<input type="text" class="form-control" placeholder="New Password"/>
				</div>
			</div> 
			<div class="col-12">
				<label>Verify Password</label>
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Verify Password"/>
				</div>
			</div>
			<div class="col-12">
				<label>Change Password </label>
				<div class="form-group">
					<input type="email" class="form-control" placeholder="Change Password"/>
				</div>
			</div> 
			 
		  
			<div class="col-12">
				<div class="login-btn"> 
					<button mat-raised-button class="contact-btn d-b mx-auto my-auto" [routerLink]="'/app/password-success'" >Submit</button>
				</div>
			</div>
		</div>
		<!-- <div class="disclaimer-text"> 
			<a href="https://www.cspot.app/disclaimers" >Disclaimer</a>
		</div> -->
	</div>
	</div>
	
 