
   
.max-width-500{
    max-width: 500px;
}
.my-auto {
    margin: {
        top: auto;
        bottom: auto;       
    }
}
// .overflow-y{
//     overflow-y: auto;
//     margin-top: 100px;
// }
// .contact-btn {
//     background-color: rgb(79,134,142);
//     color: white;
//     padding: 10px 35px;
//     border: none;
//     border-radius: 0;
// }
// .login-btn{
//     text-align: center;
//     margin-bottom: 1rem;
// }  .font-size{
//     font-weight: bold;
// }
