<div class="container"> 
		<div class="max-width-500 mx-auto overflow-y">
			<div class="pad-top">
				<i class="material-icons" [routerLink]="'/app/register'" >arrow_back</i>	
			</div>
			<div class="head">
				<h3>Terms & Conditions</h3>
			</div>
			<div class="row mx-0">
				<div class="col-md-12">
					<div class="form-group text-justify">
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group text-justify">
						It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
					</div>
				</div>
				
			</div> 
			<div class="row mx-0">
				<div class="col-md-12">
					<div class="form-group custom-control custom-checkbox">
							<input type="checkbox" class="custom-control-input" id="customCheck2">
							<label class="custom-control-label" for="customCheck2"><p class="agree">I agree 	to the Terms of Use and Privacy Statement</p></label>
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group custom-control custom-checkbox">
							<input type="checkbox" class="custom-control-input" id="customCheck1">
							<label class="custom-control-label" for="customCheck1"><p class="agree">I agree to the Terms of Use and Privacy Statement</p></label>
					</div>
				</div>
			</div>
				<div class="col-12">
					<div class="login-btn"> 
						<button mat-raised-button class="contact-btn d-b mx-auto my-auto" [routerLink]="'/app/country-mobile'" >Submit</button>
					</div>
				</div>
			</div>
	</div> 

	 